{% extends "base.html" %}

{% block title %}Leet or Lame } {% endblock %}
{% load staticfiles %}

{% block active_about %}active{% endblock %}

{% block eofjavascript %}{% endblock %}
 
{% block content %}
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span6">  
            Leet (li:t)<br>
            <b>adj</b>
            - impassioned about and highly skilled in the field of advanced computer programming.
        </div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span6">  
            Lame [leym]<br>
            <b>adj</b>
            - weak; inadequate; unsatisfactory; clumsy.
        </div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <hr>
            Leet or Lame asks you to render judgement over the ultimate question: Is this code <b>leet</b> or is it <b>lame</b>?<br>
            
        </div>
    </div>
{% endblock %}


