<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}/css/lol.css" rel="stylesheet" media="screen">
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" onload="prettyPrint()">

<!-- Container -->
{% load tags %}
    <!-- Header -->
    <div id="header">
        <div class="container">
            <div class="masthead">
              <div class="navbar">
                <div class="navbar-inner">
                  <div class="container">
                    <ul class="nav">
                      <li class="{% block active_random %}{% endblock %}"><a href="{% url index %}">Random LoL</a></li>
                      <li class="{% block active_top %}{% endblock %}"><a href="{% url top 10 %}">Top 10</a></li>
                      <li class="{% block active_upload %}{% endblock %}"><a href="{% url upload %}">Add Yours!</a></li>
                    </ul>
                  </div>
                </div>
              </div><!-- /.navbar -->
            </div>
        
            <div id="branding">
            {% block branding %}{% endblock %}
            </div>
            
        </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer">
   
    </div>{% endblock %}

<!-- END Container -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
</body>
</html>
