{% extends "base.html" %}

{% block title %}Import Gist{% endblock %}
{% load staticfiles %}


{% block branding %}
<h1 id="site-name">Leet or Lame</h1>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url import_gist %}" method="post">
    {% csrf_token %}
    Gist ID: <input type="text" name="gist_id">
    <br/>
    <select name="language_id">
{% for language in languages %}
    <option value="{{ language.id }}">{{ language.name }}</option>
{% endfor %}
    </select>
    <br/>
<input type="submit" value="Submit" />
</form>

{% endblock %}

