{% extends "base.html" %}

{% block title %}Leet or Lame{% endblock %}
{% load staticfiles %}

{% block extrastyle %}
<link href="{% static 'css/prettify.css' %}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/prettify.js' %}"></script>
 
{% endblock %}

{% block active_random %}active{% endblock %}

{% block branding %}
<div class="mainHeader">
    <h1 id="site-name">Leet or Lame</h1>
</div>
{% endblock %}

 
{% block content %}
<div class="description">{{ snippet.description}}</div>
<div class="row-fluid">
        <div class="span9">
<pre class="prettyprint">{{ snippet.code }}</pre>
        </div>
</div>

<div class="submit">
    <br/>
    <form action="/rate/{{ snippet.id }}/" method="post">
        {% csrf_token %}
        <input type="submit" name="submitButton" value="Leet" />
        <input type="submit" name="submitButton" value="Lame" />
    </form>
</div>

<a href="{% url view snippet.id %}">This snippets score</a>

{% endblock %}

