{% extends "base.html" %}

{% block title %}Leet or Lame{% endblock %}
{% load staticfiles %}

{% block extrastyle %}
<link href="{% static 'css/prettify.css' %}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/prettify.js' %}"></script>

{% endblock %}

{% block active_random %}active{% endblock %}
{% block onload %}onload="prettyPrint()"{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{% static 'js/lang-css.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-go.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-hs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-lisp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-scala.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-sql.js' %}"></script>

{% endblock %}

{% block branding %}
<div class="mainHeader">
    <h1 id="site-name">Leet or Lame</h1>
</div>
{% endblock %}
 
{% block content %}
<div class="container">
    
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span6">  
            <div class="description">{{ snippet.description}}</div>
        </div>
    </div>
     <div class="row-fluid">
        <div class="span3">
        </div>
                    <div class="span6">
                        <pre class="prettyprint"><code class="{{ snippet.language.language_class}}">{{ snippet.code }}</code></pre>
                    </div>
    </div>
    <div class="row-fluid">
        <div class="span4"></div>
        <form action="{% url index %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="snippet_id" value="{{ snippet.id }}" />
            <div class="span1">
                <input type="submit" name="submitButton" value="Leet" />
            </div>
            <div class="span2"></div>
            <div class="span1">
                <input type="submit" name="submitButton" value="Lame" />
            </div>
        </form>
    </div>
    <br>
    <div class="row-fluid">    
        <div class="span3"></div>
        <div class="span6">
            <a href="{% url view snippet.id %}">This snippets score</a>
        </div>
    </div>
{% endblock %}

