{% extends "base.html" %}

{% block title %}Leet or Lame{% endblock %}
{% load staticfiles %}

{% block active_random %}active{% endblock %}
{% block onload %}onload="prettyPrint()"{% endblock %}

{% block eofjavascript %}

<script type="text/javascript" src="{% static 'js/lang-css.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-go.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-hs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-lisp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-scala.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-sql.js' %}"></script>

{% endblock %}

{% block branding %}
<div class="mainHeader">
    <h1 id="site-name">Leet or Lame</h1>
</div>
{% endblock %}
 
{% block content %}
<div class="container">
    {% if thanks %}
    <div class="container">
        <div class="row">
            <div class="span2"></div>
            <div class="span8">
                <div class="alert alert-success">
                  <a href="#" class="close" data-dismiss="alert">&times;</a>
                  Thanks for adding new code to the system.<br>
                  Come back soon to vote for it!
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">  
            <div class="description">
                <a href="{% url view snippet.id %}">
                    {{ snippet.description}}&nbsp;&nbsp;({{ snippet.language.name}})
                </a>
            </div>
        </div>
    </div>
    <form action="{% url index %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="snippet_id" value="{{ snippet.id }}" />
        <div class="row-fluid">
            <div class="span2" style="text-align:center">
                <input type="submit" name="submitButton" value="Leet" class="lolButton"/>
            </div>
            <div class="span8">
                <pre class="prettyprint"><code class="{{ snippet.language.language_class}}">{{ snippet.code }}</code></pre>
            </div>
            <div class="span2" style="text-align:center">
                <input type="submit" name="submitButton" value="Lame" class="lolButton" />
            </div>
        </div>
    </form>
{% endblock %}

