{% extends "base.html" %}

{% block title %}Add yours!{% endblock %}
{% load staticfiles %}

{% block branding %}
<div class="mainHeader">
    <h1 id="site-name">Leet or Lame</h1>
</div>
{% endblock %}

{% block active_upload %}active{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url upload %}" method="post" class="form-horizontal">
{% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="span1"></div>
            <div class="span9">
                <div class="control-group">
                    <label class="control-label" for="inputDescription">Description:</label>
                    <div class="controls">
                        <input type="text" name="description" id="inputDescription" class="input-block-level"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputCode">Code:</label>
                    <div class="controls">
                        <textarea name="code" rows="10" id="inputCode" class="input-block-level"></textarea>
                     </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <select name="language_id">
                            {% for language in languages %}
                            <option value="{{ language.id }}">{{ language.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
		<div class="control-group">
			<label class="control-label" for="gistId">Import gist by id:</label>
			<div class="controls">
				<input type="text" name="gist_id" id="gist_id" />
				<button type='button' id="import_gist">Import</button>
			</div>
		</div>
            </div>
        </div>
        <div class="row">    
            <div class="span5"></div>
            <div class="span6">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </div>
</form>

{% endblock %}



{% block eofjavascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('#import_gist').click(function(){ 
        code_box = $("textarea[name='code']");
        description_box = $("input[name='description']");
        language_box = $("select[name='language_id']");
        gist_id = $("input[name='gist_id']").val();
        url = "https://api.github.com/gists/" + gist_id;
        $.ajax({ 
            url      : url, 
            dataType : 'jsonp', 
            timeout  : 10000,
            success: function(response) {
                console.log(response);
                if(response.data['description']){
                    description_box.val(response.data['description']);
                }
                for (file in response.data.files) {
                    if (response.data.files.hasOwnProperty(file)) {
                        var lang = response.data.files[file].language;
                        if(lang){
                            var value = $("select option").filter(function() {
                                  return $(this).text() === lang;
                            }).first().attr("value");
                            language_box.val(value);
                        }
                        code_box.val(response.data.files[file].content);
                    }
                }
            }
        }); 
    });
});
</script>

{% endblock %}
