{% extends "base.html" %}

{% block title %}Add yours!{% endblock %}
{% load staticfiles %}


{% block branding %}
<h1 id="site-name">Leet or Lame</h1>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url upload %}" method="post">
    {% csrf_token %}
    Description: <input type="text" name="description"/>
    <br/>
    Code:
    <textarea name="code" rows=30 cols=80></textarea>
    <br/>
    <select name="language_id">
{% for language in languages %}
    <option value="{{ language.id }}">{{ language.name }}</option>
{% endfor %}
    </select>
    <br/>
<input type="submit" value="Submit" />
</form>

{% endblock %}

