{% extends "base.html" %}

{% block title %}Leet or Lame{% endblock %}
{% load staticfiles %}

{% block extrastyle %}
<link href="{% static 'css/prettify.css' %}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/prettify.js' %}"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name">Leet or Lame</h1>
{% endblock %}

{% block content %}
{% if snippet %}
<div class="description">{{ snippet.description}}</div>
<pre class="prettyprint">{{ snippet.code }}</pre>
<div class="score">This snippets score is {{ snippet.score }} </div>
{% else %}
    <p>No snippets are available.</p>
{% endif %}

<a href="{% url upload %}">Add yours!</a>

{% endblock %}

